.about-section {
  .about-content {
    color: $color-white;
    position: relative;
    gap: 5rem;
    display: flex;

    .about-heading {
      display: flex;
      flex: 1;
      position: relative;

      .about-title {
        font-size: 4rem;
        font-family: $font-family-accent;
        text-shadow: -2.5px 2.5px 5px rgba(0, 0, 0, 0.25);
        font-weight: 400;
        line-height: 1;
        display: flex;
        flex-direction: column;
        margin: 0;
        text-wrap: nowrap;
      }

      .about-image-frame {
        z-index: -3;
        position: relative;
        left: -10%;
        rotate: 5deg;
        width: min-content;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: min-content;

        padding: 1.5rem;
        border-radius: 0.15rem;
        background-image: url(src/assets/misc/instax-texture.webp);
        background-repeat: repeat;

        .about-image {
          z-index: 1;
          width: 300px;
        }

        .about-image-caption {
          font-size: 1.25rem;
          color: $color-dark;
          font-family: $font-family-hand;
          font-weight: 400;
          text-align: center;
          text-wrap: wrap;
        }
      }
    }

    .about-text {
      margin-block: 2rem;
      flex-wrap: wrap;

      .word-mask {
        display: inline-flex;
        position: relative;
        overflow: hidden;

        .word {
          font-size: 1.75rem;
          position: relative;
          letter-spacing: -1px;
        }
      }
    }
  }
}
