.about-section {

  .about-content {
    color: $color-white;
    position: relative;
    display: flex;
    flex-direction: column;

    .about-heading {
      display: flex;
      align-items: center;
      position: relative;

      .about-title {
        font-size: 4.5rem;
        font-family: $font-family-accent;
        font-weight: 400;
        line-height: 1.2;
        display: flex;
        flex-direction: column;
        width: 30%;

        .about-title-row:nth-child(2) {
          align-self: flex-end;
        }
      }

      .about-image {
        position: relative;
        left: -40px;
        z-index: -1;
        rotate: 4deg;
        border-radius: 1rem;
      }
    }

    .about-text {
      margin-block: 3rem;
      flex-wrap: wrap;
      width: 75%;
      align-self: end;

      .word-mask {
        display: inline-flex;
        position: relative;
        overflow: hidden;

        .word {
          position: relative;
          font-size: 2rem;
          letter-spacing: -1px;
        }
      }
    }

    .about-me-cta {
      top: 40%;
      left:80%;
      position: absolute;
      rotate: 4deg;
      font-family: $font-family-hand;
      font-size: 2rem;
      cursor: pointer;
      color: $color-white;
      background-image: url(/src/assets/underline.svg);
      background-position: bottom 0em left;
      background-repeat: no-repeat;
      background-size: 150% 0.2em;
    }
  }
}
