.hero-section {
  height: 100svh;
  display: grid;
  place-items: center;

  .hero-text-container {
    position: relative;
    text-align: center;
    max-width: 65%;

    @include media (">=md", "<xl"){
      max-width: 68%;
    }

    .hero-text {
      font-family: $font-family-accent;
      font-size: 4.5rem;
      line-height: 1;
      font-weight: 400;
      margin: 0;
      display: inline;
    }
  }
  .hero-image-wrapper {
    position: absolute;
    z-index: -1;
    margin: 0;
  }

  .image-1 {
    left: 3%;
    top: 20%;
    height: 400px;
    width: 280px;
  }

  .image-2 {
    height: 215px;
    width: 256px;
    top: 8%;
    left: 50%;
  }

  .image-3 {
    height: 256px;
    width: 256px;
    top: 60%;
    left: 75%;
  }

  .scroll-to {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: $color-dark;
    transition: all 0.4s;
  
    &:hover {
      transform: translateY(20%);
    }
  
    .scroll-to-text {
      display: block;
      font-size: 1.75rem;
      line-height: 1;
      margin-bottom: 1rem;
      font-family: $font-family-hand;
      font-weight: 500;
    }
  
    .scroll-to-line {
      background-color: $color-dark;
      display: block;
      height: 30px;
      margin: 0 auto;
      position: relative;
      transition: all 0.4s;
      width: 2px;
    }
  
    .grow {
      animation: grow 2s ease-in-out infinite;
      transform-origin: bottom;
    }
  
    @keyframes grow {
      0%,
      20%,
      50%,
      80%,
      to {
        transform: scaleY(1.1);
      }
  
      40% {
        transform: scaleY(0.666);
      }
  
      60% {
        transform: scaleY(1.333);
      }
    }
  }
  
  .is-scrolled {
    opacity: 0;
  }
}
