.hero-section {
  height: 100svh;
  display: grid;
  place-items: center;

  .hero-text-container {
    position: relative;
    text-align: center;
    max-width: 65%;

    @include media(">=md", "<xl") {
      max-width: 68%;
    }

    .hero-text {
      font-family: $font-family-accent;
      color: $color-white;
      font-size: 4.5rem;
      line-height: 1.1;
      font-weight: 400;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 3;
    }
  }

  .hero-image-wrapper {
    position: absolute;
    z-index: -3;
    margin: 0;
    
    .hero-image {
      position: relative;
      z-index: -3;
      border-radius: 1rem;
    }

    .hero-image-caption {
      position: absolute;
      font-size: 1.35rem;
      font-family: $font-family-hand;
      color: $color-white;
    }

    &:nth-child(2) {
      left: 4%;
      top: 20%;
      height: 400px;
      width: 280px;

      .hero-image-caption {
        top: 90%;
        left: -10%;
        rotate: 17deg;
        width: 100%;
      }
    }
    &:nth-child(3) {
      height: 215px;
      width: 256px;
      top: 3%;
      left: 50%;

      .hero-image-caption {
        top: 65%;
        left: 90%;
        rotate: 7deg;
        width: 100%;
      }
    }

    &:nth-child(4) {
      height: 256px;
      width: 256px;
      top: 60%;
      left: 75%;

      .hero-image-caption {
        top: 50%;
        left: -35%;
        rotate: -9deg;
        width: 100%;
      }
    }
  }

  .scroll-to {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: $color-white;
    transition: all 0.4s;

    &:hover {
      transform: translateY(20%);
    }

    .scroll-to-text {
      display: block;
      font-size: 1.5rem;
      margin-bottom: 2rem;
      font-family: $font-family-hand;
      font-weight: 500;
    }

    .scroll-to-line {
      background-color: $color-white;
      display: block;
      height: 32px;
      margin: 0 auto;
      position: relative;
      transition: all 0.4s;
      width: 2px;
    }

    .grow {
      animation: grow 2s ease-in-out infinite;
      transform-origin: bottom;
    }

    @keyframes grow {
      0%,
      20%,
      50%,
      80%,
      to {
        transform: scaleY(1.1);
      }

      40% {
        transform: scaleY(0.666);
      }

      60% {
        transform: scaleY(1.333);
      }
    }
  }

  .is-scrolled {
    opacity: 0;
  }

  .about-me-cta {
    align-self: center;
    display: flex;
  }
}
