.hero-section {
  padding-top: 20vh;
  padding-bottom: 8rem;
  position: relative;

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      font-family: $font-family-accent;
      color: $color-white;
      font-size: $font-XXL;
      line-height: 0.8;
      position: relative;
    }
    .name:nth-child(1) {
      z-index: 3;
      text-shadow: -4px 4px 10px rgba(0, 0, 0, 0.15);
    }
    .name:nth-child(2) {
      z-index: -1;
    }
  }
  .hero-image-wrapper {
    position: relative;
    display: grid;
    place-items: center;
    margin: 0;

    .hero-image-frame {
      margin-top: 5rem;
      width: 350px;

      //Pollaroid Frame
      padding: 1.75rem;
      border-radius: 0.15rem;
      background-image: url(/src/assets/misc/texture.webp);
      background-repeat: repeat;

      @include media("<=sm") {
        width: 225px;
        padding: 1rem;
        margin-top: 2rem;
      }

      @include media(">sm", "<=xl") {
        width: 250px;
        padding: 1.5rem;
        margin-top: 3rem;
      }

      .hero-image {
        width: inherit;
        height: auto;
        position: relative;
        z-index: 1;
      }

      .hero-text {
        margin-block-start: 1.5rem;
        margin-block-end: 0;
        font-size: 1.25rem;
        color: $color-dark;
        font-family: $font-family-hand;
        font-weight: 400;
        text-align: center;
        text-wrap: wrap;

        @include media("<=sm") {
          margin-block-start: 1rem;
          font-size: 0.75rem;
        }

        @include media(">sm", "<=lg") {
          margin-block-start: 1.25rem;
          font-size: 0.9rem;
        }
      }
    }
    .hero-cta {
      position: absolute;
      left: 110%;
      top: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      @include media("<=sm") {
        display: none;
      }

      @include media(">sm", "<xl") {
        left: 100%;
      }

      .cta-text {
        font-family: $font-family-hand;
        color: $color-white;
        font-size: 1.25rem;
        rotate: -15deg;
        text-wrap: nowrap;
      }
    }
  }
}
