.work-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .work-section-heading {
    margin-inline: auto;
    width: 50%;
    color: $color-white;

    @include media ("<=md") {
      width: 100%;
    }

    .work-section-title {
      margin: 0;
      font-family: $font-family-accent;
      font-weight: 400;
      font-size: $font-size-XL;
      line-height: 1.2;
      text-align: center;
    }
  }

  .work-section-card {
    position: relative;
    padding-block: 10rem;

    @include media ("<=md"){
      padding-block: 5rem;
    }

    .project-content {
      display: flex;
      flex-direction: row;
      margin: 0;
      
      @include media ("<=md"){
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      .project-thumbnail-wrapper {
        width: 50%;
        display: grid;
        place-items: center;

        @include media ("<=md"){
          width: 100%;
        }

        .project-thumbnail {
          position: relative;
          z-index: 2;
          width: 460px;
          height: auto;
          border-radius: 1rem;
          rotate: -3deg;
          
          @include media ("<=md"){
            width: 250px;
            height: auto;
          }
        }
      }

      .project-detail {
        width: 40%;
        color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        @include media ("<=md"){
          width: 100%;
          align-items: center;
          text-align: center;
        }

        .project-name {
          font-size: $font-size-L;
          line-height: 1.2;
          font-family: $font-family-accent;
          font-weight: 400;
          margin-block: 1.5rem;
        }
        
        .project-desc {
          font-size: $font-size-M;
          font-family: $font-family-text;
          color: $color-light-grey;
        }

        .project-cta {
          margin-block: 1.5rem;
          width: max-content;
          font-family: $font-family-hand;
          font-size: $font-size-M;
          cursor: pointer;
          color: $color-white;
          background-image: url(/src/assets/underline.svg);
          background-position: bottom 0em left;
          background-repeat: no-repeat;
          background-size: 150% 0.2em;

          &:hover{
            animation: cta-hover 0.5s $animation-ease;
          }
        }
      }
    }
  }
}
