.work-content{ padding-top:0;}
.work-section, .work-content {
  .work-section-heading {
    height: 100svh;
    position: sticky;
    top: 0;
    display: grid;
    place-items: center;
    z-index: -1;

    .work-section-title {
      text-align: center;
      font-family: $font-family-accent;
      font-size: $font-size-XXL;
      font-weight: 400;
      line-height: 1;
      color: $color-white;
      width: 50%;
      margin: 0;

      @include media("<=md") {
        font-size: $font-size-XL;
        width: 100%;
      }
    }
  }

  .work-section-list {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 20svh;

    @include media("<=md") {
      margin-bottom: 20svh;
    }

    .work-section-card {
      position: relative;
      width: 450px;
      height: 500px;
      border-radius: 0.75rem;
      overflow: hidden;
      display: block;

      .work-card-thumbnail {
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: inherit;
        position: absolute;
        z-index: -1;
      }

      .work-card-overlay {
        height: 100%;
        width: 100%;
        position: relative;
        top: 0;
        transition: all 0.75s $animation-ease;

        .work-card-cover,
        .work-card-info {
          width: 100%;
          height: 100%;
          border-radius: inherit;
          box-sizing: border-box;
          padding: 2rem;

          @include media ("<=md"){
            padding: 1.5rem;
          }
        }
      }

      .work-card-cover {
        background: linear-gradient(0deg, rgba(10,12,13,0.8) 1%, transparent 100%);
        display: flex;
        flex-direction: column;

        @include media ("<=md"){
          background: linear-gradient(0deg, rgba(10,12,13,0.8) 20%, transparent 100%);
        }

        .work-card-title{
          font-size: $font-size-L;
          font-family: $font-family-accent;
          font-weight: 400;
          line-height: 1;
          margin: 0;
          color: $color-white;
          margin-top: auto;
        }

        .work-card-categories{
          padding: 0;
          margin: 0;
          display: flex;
          gap: 0.75rem;
          margin-top: 0.5rem;

          .categories{
            font-size: $font-size-XXS;
            color: $color-white;
            line-height: 1.5;
            padding-inline: 0.9em;
            background-color: #bfbfbf33;
            border: solid 0.5px #373737CC;
            border-radius: 1em;
          }
        }
      }
      .work-card-info {
        background: linear-gradient(180deg, rgba(10,12,13,0.8) 100%, transparent 100%);
        transition: all 0.75s $animation-ease;

        .work-card-desc{
          font-size: $font-size-XS;
          color: $color-white;
        }

      }
      &:hover {
        .work-card-overlay {
          transition-delay:0.5s;
          top: -100%;
        }
        .work-card-info{
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          transition-delay: 0.5s;
        }
      }

      @include media("<=md") {
        width: 85%;
        height: 330px;
      }
    }
    .work-section-card:nth-child(1n) {
      align-self: flex-start;
    }
    .work-section-card:nth-child(2n) {
      align-self: flex-end;
    }
    .work-section-card:nth-child(3n) {
      align-self: center;
    }
  }
}
