@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");

// Font
$font-family-text: "Insrtument Sans", sans-serif;
$font-family-accent: "Instrument Serif", serif;
$font-family-hand: "Mynerve", sans-serif;

// Color

$color-dark: #0a0c0d;
$color-white: #e8ecf0;
$color-light-grey: hsl(210, 21%, 85%);
$color-grey: #a3b3c2;

// Other Variables

$shadow-color: 0deg 0% 0%;

// Font Size Variables

$font-body-text: clamp(1rem, 1.5vw, 1.25rem);
$font-XXL: clamp(80px, 13vw, 180px);
$font-XL: clamp(2.25rem, 5vw ,3.5rem);
$font-Medium:clamp(1.25rem , 2vw , 1.75rem)