.work-content {
  padding-top: 0;
}
.work-section,
.work-content {
  .work-section-heading {
    height: 100svh;
    position: sticky;
    top: 0;
    display: grid;
    place-items: center;
    z-index: -1;

    .work-section-title {
      text-align: center;
      font-family: $font-family-accent;
      font-size: $font-size-XXL;
      font-weight: 400;
      line-height: 1;
      color: $color-white;
      width: 50%;
      margin: 0;

      @include media("<=md") {
        font-size: $font-size-XL;
        width: 100%;
      }
    }
  }

  .work-section-list {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 20svh;

    @include media("<=md") {
      margin-bottom: 20svh;
    }
  }
}
