.hidden-h1{
  display: none;
  position: absolute;
}
.work-content-container {
  box-sizing: border-box;
  padding-top: 12svh;
  margin-bottom: 12svh;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  .work-card-container {
    display: grid;
    place-items: center;
    position: sticky;
    top: 12svh;

    .work-card {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      margin: 0;
      display: flex;
      border: solid 1px #333333;

      @include media("<=md") {
        flex-direction: column;
      }

      .work-card-wrapper {
        border-radius: 0rem 1rem 1rem 0rem;
        width: 55%;
        overflow: hidden;

        @include media("<=md") {
          width: 100%;
          height: auto;
          border-radius: 0rem 0rem 1rem 1rem;
        }
      }
      .work-card-image {
        width: 100%;
        height: 100%;
        border-radius: inherit;
      }

      .work-card-info {
        flex: 1;
        box-sizing: border-box;
        color: $color-white;
        padding: 4rem;
        border-radius: 0.5rem;
        border-radius: 1rem 0rem 0rem 1rem;
        background-color: #0a0c0df0;
        backdrop-filter: blur(20px);
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media("<=md") {
          width: 100%;
          padding: 2rem;
          flex: 0;
          border-radius: 1rem 1rem 0rem 0rem;
        }

        .work-card-title {
          font-family: $font-family-accent;
          font-size: $font-size-L;
          font-weight: 400;
          margin: 0;
        }

        .work-card-desc {
          font-size: $font-size-S;
        }
        .work-card-cta {
          margin-top: 2rem;
          width: max-content;
          font-family: $font-family-hand;
          font-size: $font-size-M;
          cursor: pointer;
          color: $color-white;
          background-image: url(/src/assets/underline.svg);
          background-position: bottom 0em left;
          background-repeat: no-repeat;
          background-size: 150% 0.2em;

          @include media("<=md") {
            margin-top: 0.5rem;
            font-size: 1rem;
          }
        }
      }
    }
  }

  @for $i from 1 through 5 {
    .work-card-container:nth-child(#{$i}) {
      top: calc(12svh + calc($i * 30px));
    }
  }
}
