.about-header {
  padding-top: 20svh;
  display: flex;
  justify-content: space-around;
  padding-bottom: 0;

  @include media("<=md") {
    flex-direction: column;
    gap: 2rem;
  }

  .about-header-column:nth-child(1) {
    width: 30%;

    @include media("<=md") {
      width: 100%;
      display: grid;
      place-items: center;
    }

    .about-header-image {
      width: 100%;
      height: auto;
      border-radius: 1rem;

      @include media("<=md") {
        width: 250px;
        align-self: center;
      }
    }

    .cta-resume {
      margin-top: 2rem;
      font-size: $font-size-M;
      font-family: $font-family-hand;
      color: $color-white;
      display: inline-flex;
      align-items: center;
      gap: 8px;
      background-image: url(/src/assets/underline.svg);
      background-position: bottom 0em left;
      background-repeat: no-repeat;
      background-size: 0% 0.5em;
      transition: all 0.3s $animation-ease;

      &:hover {
        background-size: 100% 0.3em;
        .cta-resume-icon {
          transform: translate(30%, -20%);
        }
      }

      .cta-resume-icon {
        height: calc(0.65 * $font-size-M);
        transition: all 0.3s $animation-ease;
        width: auto;
        position: relative;
      }
    }
  }

  .about-header-column:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;

    @include media("<=md") {
      width: 100%;
    }

    .about-header-title {
      color: $color-white;
      margin: 0;
      font-size: $font-size-XL;
      line-height: 1;
      font-family: $font-family-accent;
      font-weight: 400;

      @include media("<=md") {
        text-align: center;
      }
    }
    .about-header-text {
      font-size: $font-size-S;
      color: $color-light-grey;
      line-height: 1.5;
      margin-block: 0;
    }
  }
}
