.experience {
  display: flex;
  justify-content: space-around;

  .experience-column:nth-child(1) {
    color: white;
    font-size: 3rem;
    width: 30%;
    font-weight: 400;
    font-family: $font-family-accent;
  }
  .experience-column:nth-child(2) {
    color: white;
    width: 60%;
    display: block;

    .experience-items {
      margin-bottom: 5rem;

      .experience-title {
        font-size: 1.75rem;
        font-weight: 500;
      }

      .experience-time {
        font-size: 1.25rem;
        margin-left: 1.5rem;
      }
      .experience-desc {
        font-size: 1.125rem;
        line-height: 1.5;
        width: fit-content;
        color: $color-light-grey;
      }
    }
  }
}
.education {
  padding-top: 0;
  display: flex;
  justify-content: space-around;

  .education-column:nth-child(1) {
    color: $color-white;
    font-size: 3rem;
    width: 30%;
    font-weight: 400;
    font-family: $font-family-accent;
  }
  .education-column:nth-child(2) {
    color: $color-white;
    width: 60%;
    display: block;

    .education-items {
      margin-bottom: 5rem;

      .education-title {
        font-size: 1.75rem;
        font-weight: 500;
      }

      .education-time {
        font-size: 1.25rem;
        margin-left: 1.5rem;
      }
      .education-desc {
        font-size: 1.125rem;
        line-height: 1.5;
      }
    }
  }
}

.hyperlink-about{
  color: $color-light-grey;
  transition: 0.3s;
  
}
.hyperlink-about:hover{
  color: $color-white;
  text-decoration: underline;
  text-underline-offset: 0.35rem;
}