.experience {
  display: flex;
  justify-content: space-around;

  @include media ("<=md"){
    flex-direction: column;
  }

  .experience-column:nth-child(1) {
    color: white;
    font-size: $font-XL;
    width: 30%;
    font-weight: 400;
    font-family: $font-family-accent;

    @include media ("<=md"){
      text-align: center;
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  .experience-column:nth-child(2) {
    color: white;
    width: 60%;
    display: block;

    @include media ("<=md"){
      width: 100%;
    }

    .experience-items {
      margin-bottom: 5rem;
      @include media ("<=md"){
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: solid 1px $color-light-grey;
      }

      .experience-title {
        font-size: $font-Medium;
        font-weight: 500;
      }

      .experience-time {
        font-size: $font-body-text;
        margin-left: 1.5rem;
      }
      .experience-desc {
        font-size: $font-body-text;
        line-height: 1.5;
        width: fit-content;
        color: $color-light-grey;
      }
    }
  }
}

.education {
  display: flex;
  justify-content: space-around;

  @include media ("<=md"){
    flex-direction: column;
  }

  .education-column:nth-child(1) {
    color: white;
    font-size: $font-XL;
    width: 30%;
    font-weight: 400;
    font-family: $font-family-accent;

    @include media ("<=md"){
      text-align: center;
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  .education-column:nth-child(2) {
    color: white;
    width: 60%;
    display: block;

    @include media ("<=md"){
      width: 100%;
    }

    .education-items {
      margin-bottom: 5rem;
      @include media ("<=md"){
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: solid 1px $color-light-grey;
      }

      .education-title {
        font-size: $font-Medium;
        font-weight: 500;
      }

      .education-time {
        font-size: $font-body-text;
        margin-left: 1.5rem;
      }
      .education-desc {
        font-size: $font-body-text;
        line-height: 1.5;
        width: fit-content;
        color: $color-light-grey;
      }
    }
  }
}

.hyperlink-about{
  color: $color-light-grey;
  transition: 0.3s;
  
}
.hyperlink-about:hover{
  color: $color-white;
  text-decoration: underline;
  text-underline-offset: 0.35rem;
}