.about-header {
  padding-top: 20svh;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;

  .about-header-column:nth-child(1) {
    font-family: $font-family-accent;
    font-size: $font-XXL;
    color: $color-white;
    align-self: center;
    margin-bottom: 3rem;
  }

  .about-header-column:nth-child(2) {
    display: flex;
    justify-content: space-around;

    .about-header-image {
      width: 350px;
      height: max-content;
      border-radius: 1.5rem;
    }

    .about-header-content {
      width: 50%;

      .about-header-title {
        color: $color-white;
        font-size: 3.5rem;
        line-height: 1.1;
        font-family: $font-family-accent;
        font-weight: 400;
      }
      .about-header-text {
        font-size: 1.25rem;
        color: $color-white;
      }
    }
  }
}
