footer {
  color: $color-white;
  padding-block: 4rem;
  padding-inline: 4rem;

  @include media ("<=sm"){
    padding-inline: 0;
  }

  .subfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;

    .label {
      font-size: 1.25rem;
      font-family: $font-family-text;
      text-transform: uppercase;
      margin-block: 2rem;
    }
    .footer-mail {
      font-size: 42px;
      font-family: $font-family-accent;
      color: $color-white;
      backdrop-filter: blur(100px);
      background-color: rgba(0, 0, 0, 0.5);
      padding: 24px 24px 16px;
      border-radius: 0.25em;

      @include media("<md") {
        font-size: 30px;
      }
    }
  }

  .footer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    @include media("<md") {
      grid-row-gap: 8px;
      text-align: center;
      grid-template-columns: auto;
      place-items: center;
    }

    .footer-column:nth-child(2) {
      display: flex;
      gap: 2rem;
      padding: 0;
      margin: 0;

      @include media ("<=md"){
        gap: 10px;
        margin-bottom: 1rem;
        grid-area: 1/1/2/2;
      }

      li{
        a{
          color: $color-white;
          text-decoration: underline;
          text-underline-offset: 0.25rem;
        }
      }
    }

    .footer-column:nth-child(3) {
      justify-self: end;

      @include media ("<=sm"){
        font-size: 10px;
        justify-self: center;
      }
    }

    .footer-column:nth-child(1) {
      @include media ("<=sm"){
        font-size: 10px;
      }
    }
  }
}
