footer{
  color: $color-white;
  padding-block: 2rem;
  padding-inline: 2rem;

  .subfooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;

    .label{
      font-size: 1.25rem;
      font-family: $font-family-text;
      text-transform: uppercase;
      margin-block: 2rem;
    }
    .footer-mail{
      font-size: 42px;
      font-family: $font-family-accent;
      color: $color-white;
      backdrop-filter: blur(100px);
      background-color: rgba(0, 0, 0, 0.5);
      padding: 24px 24px 16px;
      border-radius: 0.25em;

      @include media ("<md"){
        font-size: 30px;
      }
    }
  }

  .footer{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    border-top: solid 1px white;
    padding-block: 1rem;

    @include media ("<md"){
      grid-row-gap: 4px;
    text-align: center;
    grid-template-columns: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;


    }

    .footer-column:nth-child(2){
      display: flex;
      gap: 2rem;
      padding: 0;
    }

    .footer-column:nth-child(3){
      justify-self: end;
    }
  }
}