.header {
  box-sizing: border-box !important;
  position: fixed;
  top: 0;
  padding-block: 1rem;
  z-index: 5;
  width: 100svw;
  transition: all 0.5s $animation-ease;

  .navbar {
    box-sizing: inherit;
    padding: 1.25rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(20px);
    background-color: #0a0c0d80;
    border: solid 0.25px rgba(51, 51, 51, 0.25);

    .logo-wrapper {
      height: 20px;

      .logo {
        height: inherit;
        fill: $color-white;

        @include media("<=sm") {
          height: 1.15rem;
        }
      }
    }

    .nav-menu-desktop {
      @include media("<=md") {
        display: none;
      }
    }

    .navbar-menu-button {
      display: none;
      height: 1.125rem;
      text-align: center;
      position: relative;
      overflow: hidden;
      background-color: transparent;
      border: none;
      flex-direction: column;
      padding: 0;

      @include media("<=md") {
        display: flex;
      }

      .menu-button-text {
        color: $color-white;
        font-family: $font-family-text;
        font-size: 1.125rem;
        transition: all 0.5s $animation-ease;
      }
    }
    .navbar-menu-button.is-open {
      .menu-button-text {
        &:nth-child(1) {
          transform: translateY(-100%);
        }
        &:nth-child(2) {
          transform: translateY(-100%);
        }
      }
    }
  }

  .nav-menu {
    display: flex;
    padding: 0;
    gap: 1.5rem;
    margin: 0;

    @include media("<=md") {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-direction: column;
    }

    .nav-links {
      font-size: 1.125rem;
      color: $color-white;
      font-family: $font-family-text;
      background-image: url(/src/assets/underline.svg);
      background-position: bottom -1px left;
      background-repeat: no-repeat;
      background-size: 0% 0.2em;
      transition: all 0.2s $animation-ease;

      &:hover{
        background-size: 100% 0.2em;
      }

      @include media("<=sm") {
        font-size: 1.125rem;
      }
    }

    .nav-links.active{
      background-size: 100% 0.2em;
    }
  }

  .mobile-menu {
    box-sizing: inherit;
    position: fixed;
    margin-top: 84px;
    top: 0;
    z-index: 5;
    width: 100svw;
    transition: all 0.5s $animation-ease;
    transform: translateY(-200%);

    @include media(">md") {
      display: none;
    }

    .mobile-menu-container {
      padding: 1.25rem;
      border-radius: 0.5rem;
      background-color: #0a0c0d80;
      backdrop-filter: blur(20px);
      border: solid 0.25px rgba(51, 51, 51, 0.25);
    }
  }

  .mobile-menu.is-open {
    transform: translateY(0);
  }
}

.hide {
  top: -100%;
  transition: all 0.5s $animation-ease;
}
