@import "./sass/index";
// Basic 

*{
  -webkit-font-smoothing: antialiased;
}
body{

  overflow-x: hidden !important;
  box-sizing: border-box !important;
  margin: 0;
  font-family: $font-family-text;
  background-color: $color-white;

}

h1, h2, h3, h4, h5, h6, p{

  line-height: 1.5;
}

li, a{

  list-style: none;
  text-decoration: none;

}